#area {
  position: relative;

  h1 {
    width: 425px;
  }

  .span10 {

    @media (max-width: 980px) {
      width: 90%;
      margin: 0 auto;
      float: none;
    }

    .nav-tabs2 li a {

      @media (max-width: 980px) {
        font-size: 12px;
        line-height: 12px;
        color: #f9f9f9;
        height: 40px;
      }
    }

    .textoentab {
      float: left;
      width: 100%;

      @media (max-width: 980px) {
        float: none;
      }
    }

    .textoentableft {
      float: left;
      width: 47%;

      @media (max-width: 980px) {
        float: none;
        width: 90%;
        margin: 0 auto;
      }
    }

    .tab-content .tab-pane .textoentableft p {
      color: #126894;
      font-family: 'Alegreya', serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 30px;
      text-decoration: none;
      width: 460px;
      margin: 60px 0 0 0px;

      @media (max-width: 980px) {
        width: 100%;
        margin: 30px auto 0 !important;
      }
    }

    .textoentabright {
      float: left;
      width: 47%;

      @media (max-width: 980px) {
        float: none;
        width: 90%;
        margin: 0 auto;
      }
    }

    .tab-content .tab-pane .textoentabright img {
      float: left;
      width: 68px;
      height: 50px;
      margin: 87px 0 0 70px;

      @media (max-width: 980px) {
        display: none;
      }
    }

    .tab-content .tab-pane .textoentabright p {
      color: #126894;
      font-family: 'Alegreya', serif;
      font-weight: 600;
      font-style: bold;
      font-size: 21px;
      line-height: 30px;
      text-decoration: none;
      width: 290px;
      margin: 87px 0 0 25px;
      float: left;

      @media (max-width: 980px) {
        width: 100%;
        margin: 40px auto 0 !important;
        float: none;
      }
    }

    .tab-content .tab-pane .textoentabright p.name {
      color: #126894;
      font-family: 'Alegreya', serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 28x;
      text-decoration: none;
      margin: 30px 0 0 93px;
      float: left;

      @media (max-width: 980px) {
        width: 100%;
        margin: 30px auto 0;
        float: none;
      }
    }

    .listaentab {
      float: left;
      width: 100%;
      margin: 50px 0 100px 0;

      @media (max-width: 980px) {
        margin: 10px 0 100px 0;
        float: none;
      }
    }

    .listaentab ul {
      float: left;
      width: 47%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      @media (max-width: 980px) {
        width: 90%;
        margin: 0 auto 0 !important;
        float: none;
      }
    }

    .listaentab ul li {
      background-color: #fff;
      width: 440px;
      height: 49px;
      margin-top: 5px;
      padding: 23px 0 0 35px;

      @media (max-width: 980px) {
        width: 90%;
        margin: 5px auto 0;
        float: none;
        padding-bottom: 15px;
        height: auto !important;
      }
    }

    .listaentab ul li.doble {
      height: 57px;
      padding: 15px 0 0 35px;

      @media (max-width: 980px) {
        padding-bottom: 15px;
        height: auto;
      }
    }

    .tab-content .tab-pane .listaentab ul li p {
      color: #126894;
      font-family: 'Alegreya', serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 25px;
      text-decoration: none;
      margin: 0;
      width: 90%;
    }
  }
}
