#contacto {
  position: relative;

  h1 {
    width: 335px;
    background-color: #428db4;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
    z-index: 10;
    position: relative;

    @media (max-width: 980px) {
      width: 335px;
      margin: 60px auto;
    }
  }

  .span5 {

    @media (max-width: 980px) {
      width: 100%;
      margin: 0 auto;
      float: left;
    }
  }
}

.wrapperoutcontacto {
    width: 100%;
    background-color: #428db4;
    border-top: 2px solid #26678a;
    border-bottom: 77px solid #0a5074;
}

.wrappercontacto{
    width: 980px;
    margin: 0px auto 40px;

    @media (max-width: 980px) {
      width: 90%;
    }
}

#mailytelefono {
  width: 419px;
  height: 370px;
  background-color: #e9edf2;
  margin: 0px 0 0 50px;
  box-shadow: 0px 1px 1px #013048;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  @media (max-width: 980px) {
    width: 80%;
    margin: 0 auto;
  }
}

#telefono, #mail, #address{
  width: 419px;
  margin: 0 0 0 0;
  float: left;
}
#telefonoicon, #mailicon, #addressicon{
  width: 111px;
  margin: 45px 0 0 0;
  border-right: 1px solid #7daac3;
  float: left;
  height: 60px;
}
#telefonoicon img, #mailicon img, #addressicon img{
  margin: 10px 0 0 35px;
}
#telefonotext, #mailtext,#addresstext{
  width: 290px;
  margin: 0 0 0 17px;
  float: left;
  padding: 35px 0 0 0 ;
}
#telefonotext p, #mailtext p,#addresstext p{
    color: #126894;
    font-family: 'Alegreya', serif;
    font-weight: 600;
    font-style: bold;
    font-size: 25px;
    line-height: 33px;
    text-decoration: none;
    margin: 3px 0px 0px 0px;
}
#telefonotext p a, #mailtext p a{
    color: #126894;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 33px;
    text-decoration: none;
    margin: 3px 0px 0px 0px;
}

#telefonotext p a:hover, #mailtext p a:hover{
  text-decoration: underline;
}

#disclaimer {
  width: 419px;
  margin: 0px 0 0 50px;

  h2{
    color: #e9edf2;
    font-family: 'Alegreya', serif;
    font-weight: 600;
    font-style: bold;
    font-size: 30px;
    line-height: 33px;
    text-decoration: none;
    margin: 25px 0 0 0;
  }

  p {
    color: #e9edf2;
    font-family: 'Alegreya', serif;
    font-weight: 600;
    font-style: bold;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    margin: 10px 0 0 0;
  }

  @media (max-width: 980px) {
    width: 80%;
    margin: 0 auto;
  }
}

#form {
  float: left;
  margin: 0px 0 0 0px;

  @media (max-width: 980px) {
    width: 100%;
  }

  #formform {
    width: 100%;
  }

  form {
    float: left;
    margin: 0px 0 0 0;

    @media (max-width: 980px) {
      width: 100%;
    }

    input {
      width: 455px;
      height: 62px;
      background-color: #a6c7d9;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 23px;
      line-height: 23px;
      text-decoration:none;
      color: #26678a;
      border: 0;
      border: none;
      padding-left: 30px;
      box-shadow: 0px 1px 1px #013048;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;

      &:focus{
        background-color: #d3e7f2;
      }

      &.nombre{
        margin-bottom: 0;
      }

      &.mail {
        margin-top: 12px;
        margin-bottom: 0;
      }

      &.asunto{
        margin-top: 12px;
        margin-bottom: 0;
      }

      @media (max-width: 980px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    .mensaje {
      width: 460px;
      height: 200px;
      background-color: #a6c7d9;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 23px;
      line-height: 23px;
      color: #26678a;
      border: 0;
      border: none;
      padding: 25px 0 0 31px;
      box-shadow: 0px 1px 1px #013048;
      margin-top: 12px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;

      &:focus{
        background-color: #d3e7f2;
      }

      @media (max-width: 980px) {
        width: 80%;
        margin: 12px auto 0;
        display: block;
      }
    }

    .error {
      background-color: #FD880A;
    }

    p.errorp{
      display: none;
      font-family: 'Quattrocento Sans', sans-serif;
      font-weight: 700;
      font-style: italic;
      font-size: 19px;
      line-height: 23px;
      color: #FD880A;
      float: left;
      width: 390px;
      margin: 15px 0 0 0px;
    }
  }
}

.confirmation-field { display: none; }

#gracias {
  width: 491px;
  height: 145px;
  background-color: #a6c7d9;
  margin: 0px 0 0 0;
  box-shadow: 0px 1px 1px #013048;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 33px;
    color: #26678a;
    margin: 45px auto 0;
    text-align: center;
    width: 491px;
    float: left;
  }

  #line {
    float: left;
    text-align: center;
    margin: 15px auto 0;
    width: 491px;
  }

  p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #26678a;
    margin: 5px auto 0;
    float: left;
    text-align: center;
    width: 491px;
  }
}

#submit {
  width: 200px;
  height: 56px;
  float: right;
  margin: 12px 0 30px 30px;

  background: #0d5d86;
  background: -moz-linear-gradient(top,  #0d5d86 0%, #126894 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d5d86), color-stop(100%,#126894));
  background: -webkit-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -o-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -ms-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: linear-gradient(to bottom,  #0d5d86 0%,#126894 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5d86', endColorstr='#126894',GradientType=0 );
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  border: 1px solid #004669;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  @media (max-width: 980px) {
    width: 80%;
    height: 56px;
    float: none;
    display: block;
    margin: 12px auto 30px auto;
  }

  &:hover {
    background-color: rgba(66,140,180,1);
    background: -moz-linear-gradient(top,  #126894 0%, #0d5d86 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#126894), color-stop(100%,#0d5d86));
    background: -webkit-linear-gradient(top,  #126894 0%,#0d5d86 100%);
    background: -o-linear-gradient(top,  #126894 0%,#0d5d86 100%);
    background: -ms-linear-gradient(top,  #126894 0%,#0d5d86 100%);
    background: linear-gradient(to bottom,  #126894 0%,#0d5d86 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#126894', endColorstr='#0d5d86',GradientType=0 );

    -webkit-box-shadow: inset 0px -1px 0px 0px #0d5d86;
    -moz-box-shadow: inset 0px -1px 0px 0px #0d5d86;
    box-shadow: inset 0px -1px 0px 0px #0d5d86;
  }

  span{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    text-align: left;
    margin: 0px auto;
    padding: 0 0 0 0;
    width: 60px;

    text-shadow: 2px 0px 1px #0a557b;
    filter: dropshadow(color=#0a557b, offx=2, offy=0);

  }
}

