/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {
  display: none; -webkit-backface-visibility: hidden;

  @media (max-width: 980px) {
    height: 250px;
  }

} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;

  @media (max-width: 980px) {
    display: none;
  }
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

/* Direction Nav */
.flex-direction-nav {*height: 0;display: none;}
.flex-direction-nav a {width: 61px; height: 115px; margin: 0px 0 0; display: block; background: url(../img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 213px; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0.6; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 306px; }
.flex-direction-nav .flex-prev {left: 306px;}
.flexslider:hover .flex-next {right: 306px;}
.flexslider:hover .flex-prev {left: 306px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled { cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 0px; text-align: center;margin: 0 0 10px 0; display:none;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 12px; height: 12px; display: block; cursor: pointer; text-indent: -9999px; background: url(../img/bg_bullets.png) no-repeat 0 0;}
.flex-control-paging li a:hover { background-position: -12px 0; }
.flex-control-paging li a.flex-active { background-position: -12px 0; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.flex-caption {
  font-family: 'Alegreya', serif;
  font-weight: 600;
  font-size: 30px;
  line-height:40px;
  color: #fff;
  text-decoration:none;
  text-align: center;
  position: absolute;
  text-shadow: 2px 0px 1px #4c4c4c;
  bottom: 100px;
  width: 1600px;

  @media (max-width: 980px) {
    font-size: 20px;
    line-height: 30px;
    width: 80%;
    
    margin-left: 10%;
    display: block;
    bottom: 120px;
    color: #0d5d86;
    text-shadow: none;
    font-size: 37px;
    line-height: 45px;
  }
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
