html {
  overflow-x: hidden;
}

*, body {
  margin:0;
  padding:0 0 0 0;
}

body {
  background: url(../img/bodybkg.jpg) 0 250px repeat-x;
  background-color: #f9f9f9;
  overflow-x: hidden;

  @media (max-width: 980px) {
    background: url(../img/bodybkg.jpg) 0 -200px repeat-x;
    background-color: #f9f9f9;
    overflow-x: hidden;
  }
}

.wrapper{
    width: 980px;
    margin: 100px auto 0;

    @media (max-width: 980px) {
      width: 100%;
    }
}

.line {
  background-color: #b6d0df;
  height: 1px;
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: -1;

  @media (max-width: 980px) {
    display: none;
  }
}

#presentacion {
  position: relative;
  background: none;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-style: thin;
  font-size: 51px;
  line-height: 51px;
  color: #126894;
  text-decoration: none;
  text-align: center;
  width: 350px;
  margin: 0px auto;
  background-color: #f9f9f9;

  @media (max-width: 980px) {
    font-size: 43px;
    line-height: 43px;
  }
}



.lefttext {
  float: left;
  width: 475px;
  margin: 70px 0 0 0px;

  @media (max-width: 980px) {
    width: 90%;
    margin: 70px auto 0;
    float: none;
  }

  p {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #126894;
    text-decoration: none;
    text-align: left;
    width: 475px;
    margin: 20px 0 0 32px;

    @media (max-width: 980px) {
      width: 90%;
      margin: 40px auto 70px;
      text-align: center;
    }
  }
}

.righttext {
  float: left;
  width: 335px;
  margin: 70px 0 0 160px;

  @media (max-width: 980px) {
    width: 90%;
    margin: 70px auto 0;
    float: none;
  }

  img {
    @media (max-width: 980px) {
      margin: 0px auto 0;
      float: none;
      display: block;
    }
  }
}

#descargarcv {
  width: 248px;
  height: 56px;
  margin: 30px 0 0 45px;

  background: #0d5d86;
  background: -moz-linear-gradient(top,  #0d5d86 0%, #126894 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d5d86), color-stop(100%,#126894));
  background: -webkit-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -o-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -ms-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: linear-gradient(to bottom,  #0d5d86 0%,#126894 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5d86', endColorstr='#126894',GradientType=0 );

  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);

  border: 1px solid #004669;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#descargarcv:hover {
  background-color: rgba(66,140,180,1);
  background: -moz-linear-gradient(top,  #126894 0%, #0d5d86 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#126894), color-stop(100%,#0d5d86));
  background: -webkit-linear-gradient(top,  #126894 0%,#0d5d86 100%);
  background: -o-linear-gradient(top,  #126894 0%,#0d5d86 100%);
  background: -ms-linear-gradient(top,  #126894 0%,#0d5d86 100%);
  background: linear-gradient(to bottom,  #126894 0%,#0d5d86 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#126894', endColorstr='#0d5d86',GradientType=0 );

  -webkit-box-shadow: inset 0px -1px 0px 0px #0d5d86;
  -moz-box-shadow: inset 0px -1px 0px 0px #0d5d86;
  box-shadow: inset 0px -1px 0px 0px #0d5d86;
}

#descargarcv p{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-align: left;
  margin: 0px auto;
  padding: 0 0 0 0;
  width: 102px;

  text-shadow: 2px 0px 1px #0a557b;
  filter: dropshadow(color=#0a557b, offx=2, offy=0);

}



.alltext {
  float: left;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: #126894;
  text-decoration: none;
  text-align: left;
  margin: 40px 0 50px 0px;

  @media (max-width: 980px) {
    width: 80%;
    margin: 50px auto 80px;
    float: none;
    text-align: center;
  }
}

.vermasbtn {
  width: 248px;
  height: 56px;
  margin: 0px 0 30px 30px;
  display: block;

  background: #0d5d86;
  background: -moz-linear-gradient(top,  #0d5d86 0%, #126894 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d5d86), color-stop(100%,#126894));
  background: -webkit-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -o-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -ms-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: linear-gradient(to bottom,  #0d5d86 0%,#126894 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5d86', endColorstr='#126894',GradientType=0 );

  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);

  border: 1px solid #004669;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.vermasbtn:hover {
  background-color: rgba(66,140,180,1);
  background: -moz-linear-gradient(top,  #126894 0%, #0d5d86 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#126894), color-stop(100%,#0d5d86));
  background: -webkit-linear-gradient(top,  #126894 0%,#0d5d86 100%);
  background: -o-linear-gradient(top,  #126894 0%,#0d5d86 100%);
  background: -ms-linear-gradient(top,  #126894 0%,#0d5d86 100%);
  background: linear-gradient(to bottom,  #126894 0%,#0d5d86 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#126894', endColorstr='#0d5d86',GradientType=0 );

  -webkit-box-shadow: inset 0px -1px 0px 0px #0d5d86;
  -moz-box-shadow: inset 0px -1px 0px 0px #0d5d86;
  box-shadow: inset 0px -1px 0px 0px #0d5d86;
}

.vermasbtn span{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-align: left;
  margin: 0px auto;
  padding: 0 0 0 0;
  width: 60px;

  text-shadow: 2px 0px 1px #0a557b;
  filter: dropshadow(color=#0a557b, offx=2, offy=0);

}


@media screen{
 body>header{
   position: fixed;
 }
}
* html body{
  overflow:hidden;
}
* html content{
  height:100%;
  overflow:auto;
}
.nav-tabs {
  *zoom: 1;
}
.nav-tabs:before,
.nav-tabs:after{
  display: table;
  line-height: 0;
  content: "";
}
.nav-tabs:after {
  clear: both;
}
.nav-tabs > li {
  margin-bottom: -1px;
  width: 50%;
  float: left;
  position: relative;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: #8AB3C7;
    background: #5A89A0;
    background: -moz-linear-gradient(top,  #5A89A0 0%, #5A89A1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A89A0), color-stop(100%,#5A89A1));
    background: -webkit-linear-gradient(top,  #5A89A0 0%,#5A89A1 100%);
    background: -o-linear-gradient(top,  #5A89A0 0%,#5A89A1 100%);
    background: -ms-linear-gradient(top,  #5A89A0 0%,#5A89A1 100%);
    background: linear-gradient(to bottom,  #5A89A0 0%,#5A89A1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A89A0', endColorstr='#5A89A1',GradientType=0 );


}

.nav-tabs li.active:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;

  border: 15px solid transparent;
  border-top-color: #126894;
  top: 99%;
  left: 50%;
  margin-left: -15px;
}
.nav-tabs > li > a {
  line-height: 20px;
  border: 1px solid transparent;

  height: 47px;
  margin: 0px 0 0 0px;

  background: #7fadc5;
  background: -moz-linear-gradient(top,  #7fadc5 0%, #8ab3c7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fadc5), color-stop(100%,#8ab3c7));
  background: -webkit-linear-gradient(top,  #7fadc5 0%,#8ab3c7 100%);
  background: -o-linear-gradient(top,  #7fadc5 0%,#8ab3c7 100%);
  background: -ms-linear-gradient(top,  #7fadc5 0%,#8ab3c7 100%);
  background: linear-gradient(to bottom,  #7fadc5 0%,#8ab3c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fadc5', endColorstr='#8ab3c7',GradientType=0 );

  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(66,140,180,1);
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(66,140,180,1);
  box-shadow: inset 0px 0px 0px 0px rgba(66,140,180,1);

  border: 1px solid #8ab3c7;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 19px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-align: left;
  margin: 0px auto;
  padding: 30px 0 0 150px;

  text-shadow: 2px 0px 1px #0a557b;
  filter: dropshadow(color=#0a557b, offx=2, offy=0);


}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #fff;
  background: #0d5d86;
  background: -moz-linear-gradient(top,  #0d5d86 0%, #126894 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d5d86), color-stop(100%,#126894));
  background: -webkit-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -o-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -ms-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: linear-gradient(to bottom,  #0d5d86 0%,#126894 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5d86', endColorstr='#126894',GradientType=0 );

  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);

  border: 1px solid #004669;
}
.tab-content {
  overflow: auto;
}
.tab-content  .tab-pane{
  display: none;
}
.tab-content  .tab-pane p{
  color: #126894;
    font-family: 'Alegreya', serif;
    font-weight: 600;
    font-style: bold;
    font-size: 22px;
    line-height: 33px;
    text-decoration: none;
    margin: 0px;
    margin-bottom: 30px;
}
.tab-content > .tab-pane p.small{
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 35px;
}

.tab-content > .active {
  display: block;
}

.nav-tabs2:before,
.nav-tabs2:after{
  display: table;
  line-height: 0;
  content: "";
}
.nav-tabs2:after{
  clear: both;
}
.nav-tabs2{
  margin: 50px 0 0 0;
  height: 100px;
}
.nav-tabs2 > li{
  float: left;
}
.nav-tabs2 > li {
  width: 25%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.nav-tabs2 li#malapraxisli.active {
  background: url(../img/malapraxis.png) no-repeat 50% 0px;
  opacity: 1;
  height: 38px;
}
.nav-tabs2 li#coberturali.active {
  background: url(../img/cobertura.png) no-repeat 50% 0px;
  opacity: 1;
  height: 35px;
}
.nav-tabs2 li#asitenciaviajeroli.active {
  background: url(../img/asistencia.png) no-repeat 50% 0px;
  opacity: 1;
  height: 43px;
}
.nav-tabs2 li#otrassaludli.active {
  background: url(../img/otras.png) no-repeat 50% 0px;
  opacity: 1;
  height: 45px;
}
.nav-tabs2 li#malapraxisli {
  background: url(../img/malapraxis.png) no-repeat 50% 0px;
  opacity: 0.6;
  height: 38px;
}
.nav-tabs2 li#coberturali {
  background: url(../img/cobertura.png) no-repeat 50% 0px;
  opacity: 0.6;
  height: 35px;
}
.nav-tabs2 li#asitenciaviajeroli {
  background: url(../img/asistencia.png) no-repeat 50% 0px;
  opacity: 0.6;
  height: 43px;
}
.nav-tabs2 li#otrassaludli {
  background: url(../img/otras.png) no-repeat 50% 0px;
  opacity: 0.6;
  height: 45px;
}
.nav-tabs2 li#malapraxisli:hover {
  background: url(../img/malapraxis.png) no-repeat 50% 0px;
  opacity: 1;
  cursor: pointer;
}
.nav-tabs2 li#coberturali:hover  {
  background: url(../img/cobertura.png) no-repeat 50% 0px;
  opacity: 1;
  cursor: pointer;
}
.nav-tabs2 li#asitenciaviajeroli:hover {
  background: url(../img/asistencia.png) no-repeat 50% 0px;
  opacity: 1;
  cursor: pointer;
}
.nav-tabs2 li#otrassaludli:hover  {
  background: url(../img/otras.png) no-repeat 50% 0px;
  opacity: 1;
  cursor: pointer;
}
.nav-tabs2 li:hover > a{
  color: #126894;
}
.nav-tabs2 li a {
  line-height: 20px;
  padding-top: 50px;
  color: #87b1c7;
  cursor: default;
  text-align: center;
    font-family: 'Alegreya', serif;
    font-weight: 600;
    font-style: bold;
    font-size: 21px;
    line-height: 28px;
    text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  display: block;
  width: 100%;
  height: 100px;
}
.nav-tabs2 > .active > a,
.nav-tabs2 > .active > a:hover,
.nav-tabs2 > .active > a:focus {
  color: #126894;
  cursor: default;
  background: none;
}
.nav-tabs2 li a:hover{
  color: #126894;
  background: none;
  cursor: pointer;
}

