header {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 150px;
  border: 1px solid #85b0c6;
  background-color: #fff;
  z-index: 2000;

  @media (max-width: 980px) {
    height: 130px;
  }
  
  .wrap {
    width: 980px;
    margin: 0 auto;

    @media (max-width: 980px) {
      width: 100%;
    }
  }

  .linee {
    width: 980px;
    top: 49px;
    position: absolute;
    height: 1px;
    background-color: #9cc9e0;
    z-index: -1;

    @media (max-width: 980px) {
      display: none;
    }
  }

  .logo {
    width: 100px;
    margin: 30px auto 0;

    a {
      color: #126894;
      font-family: 'Alegreya', serif;
      font-weight: 600;
      font-style: bold;
      font-size: 36px;
      line-height: 40px;
      text-decoration: none;
      text-align: center;
      display: block;
      width: 100px;
      background-color: #fff;
    }

    @media (max-width: 980px) {
      margin: 15px auto 0;
    }
  }

  .navig{
    margin: 0 0 0 0;

    div {
      float:left;
      padding: 0px;
      margin: 0px;
      color: #5aa5cc;
      text-align: center;

      a {
        display:block;
        color: #5aa5cc;
        font-family: 'Alegreya', serif;
        font-weight: 600;
        font-style: bold;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;

        &:hover{
          text-decoration:none;
          color:#126894;
        }
      }
    }

    #presentacionnav {
      margin: 10px 0 0 25px;

      @media (max-width: 980px) {
        display: none;
      }
    }

    #areanav {
      margin: 4px 0 0 110px;
      width: 100px;

      @media (max-width: 980px) {
        display: none;
      }
    }

    #textnav {
      margin: 4px 0 0 63px;
      width: 215px;

      p {
        color: #126894;
        font-family: 'Alegreya', serif;
        font-weight: 600;
        font-style: bold;
        font-size: 19px;
        line-height: 20px;
        text-decoration: none;
        margin: 0px;
      }

      span {
        color: #126894;
        font-family: 'Alegreya', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        line-height: 16px;
        text-decoration: none;
        display: block;
      }

      @media (max-width: 980px) {
        margin: 4px auto 0;
        float: none;
      }
    }

    #publicacionesnav {
      margin: 4px 0 0 48px;
      width: 150px;

      @media (max-width: 980px) {
        display: none;
      }
    }

    #contactonav {
      margin: 10px 0 0 62px;

      @media (max-width: 980px) {
        display: none;
      }
    }
  }
}