#publicaciones {
  position: relative;

  h1 {
    width: 700px;

    @media (max-width: 980px) {
      width: 80%;
    }
  }
}

.publielemento {
  width: 305px;
  float: left;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(1,48,72,0.42);
  -moz-box-shadow: 1px 1px 3px 0px rgba(1,48,72,0.42);
  box-shadow: 1px 1px 3px 0px rgba(1,48,72,0.42);
  margin: 85px 25px 100px 0;

  @media (max-width: 980px) {
    float: none;
    margin: 40px auto 30px;
    padding: 10px 0;
  }

  h2 {
    color: #126894;
    font-family: 'Alegreya', serif;
    font-weight: 600;
    font-style: bold;
    font-size: 21px;
    line-height: 33px;
    text-decoration: none;
    margin: 25px 30px 25px 30px;
  }

  p {
    color: #126894;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    margin: 25px 30px 25px 30px;
  }
}

.publielementolast {
  margin-right: 0px;

  @media (max-width: 980px) {
    margin-right: auto;
  }
}

.publielementofirst {
  margin-left: 32px;

  @media (max-width: 980px) {
    margin-left: auto;
  }
}
