
#slider {
  margin: 152px auto 0;
  z-index: 1000;
  width: 1600px;
  height: 376px;

  @media (max-width: 980px) {
    width: 100%;
    height: 200px;
  }
}

.flex-container {
  width: 1600px;
  height: 376px;
  margin: 0 auto;
  position:absolute;
  left: 50%;
  margin-left: -800px;

  @media (max-width: 980px) {
    width: 100%;
    margin-left: -50%;
    height: 200px;
  }
}

.sliderboton {
  width: 200px;
  height: 56px;
  margin: 0;

  text-align: center;
  align: center;

  position: absolute;
  bottom: 28px;
  left: 50%;
  margin-left: -100px;

  background: #0d5d86;
  background: -moz-linear-gradient(top,  #0d5d86 0%, #126894 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d5d86), color-stop(100%,#126894));
  background: -webkit-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -o-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: -ms-linear-gradient(top,  #0d5d86 0%,#126894 100%);
  background: linear-gradient(to bottom,  #0d5d86 0%,#126894 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5d86', endColorstr='#126894',GradientType=0 );

  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);
  box-shadow: inset 0px 1px 0px 0px rgba(66,140,180,1);

  border: 1px solid #004669;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  @media (max-width: 980px) {
    width: 300px;
    margin: 0 0 0 -150px;
    bottom: 38px;
  }

}
.sliderboton:hover {
  background-color: rgba(66,140,180,1);
  background: -moz-linear-gradient(top,  #126894 0%, #0d5d86 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#126894), color-stop(100%,#0d5d86));
  background: -webkit-linear-gradient(top,  #126894 0%,#0d5d86 100%);
  background: -o-linear-gradient(top,  #126894 0%,#0d5d86 100%);
  background: -ms-linear-gradient(top,  #126894 0%,#0d5d86 100%);
  background: linear-gradient(to bottom,  #126894 0%,#0d5d86 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#126894', endColorstr='#0d5d86',GradientType=0 );

  -webkit-box-shadow: inset 0px -1px 0px 0px #0d5d86;
  -moz-box-shadow: inset 0px -1px 0px 0px #0d5d86;
  box-shadow: inset 0px -1px 0px 0px #0d5d86;
}

.sliderboton span{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-align: left;
  margin: 0px auto;
  padding: 0 0 0 0;
  width: 95px;

  text-shadow: 2px 0px 1px #0a557b;
  filter: dropshadow(color=#0a557b, offx=2, offy=0);

  @media (max-width: 980px) {
    font-size: 20px;
  }
}
