.twotabs {
  float: left;
  width: 980px;
  margin: 20px 0 150px 32px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(1,48,72,0.42);
  -moz-box-shadow: 1px 1px 3px 0px rgba(1,48,72,0.42);
  box-shadow: 1px 1px 3px 0px rgba(1,48,72,0.42);

  @media (max-width: 980px) {
    width: 80%;
    margin: 20px auto 100px;
    float: none;
  }

  .nav-tabs > li > a {

    @media (max-width: 980px) {
      padding: 30px 0 0 0 !important;
      font-size: 15px;
      text-align: center;
    }
  }

  #compromiso, #probono{
    padding: 45px 70px 65px 70px;

    @media (max-width: 980px) {
      padding: 25px 20px 35px 20px;
    }

    p {
      
      @media (max-width: 980px) {
        font-size: 17px;
        line-height: 25px;
      }
    }
  }
}